.popup{
    &--message{
        display: flex;
        opacity: 1;
    }
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background-color: color(bg-grey, 0.4);
    &__form{
        &--login{
            max-width: 40%!important;
        }
        &--message{
            max-width: 30%;
            margin-top: -300px;
        }
        position: relative;
        width: 100%;
        max-width: 60%;
        height: auto;
        padding: 2em 3em;
        background-color: color(bg-white, 1);
        @include border-radius(8px);
        &-heading{
            color: color(bg-grey, 1);
            font-size: 2.2rem;
            font-family: 'bpg_webcaps';
            margin-bottom: 2em;
        }
        &-close{
            cursor: pointer;
            position: absolute;
            top: 2em;
            right: 2em;
            width: 19px;
            height: 19px;
            background: url('../images/form_close.png') no-repeat;
        }
        &-content{
            display: none;
            width: 100%;
            height: auto;
            margin-top: 3em;
            &.active{
                display: block;
            }
        }
    }
    &__message{
        width: 100%;
        margin-top: 2em;
        &-text{
            color: color(bg-grey, 1);
            font-size: 1.6rem;
            font-family: 'bpg_webcaps';
            line-height: 1.9rem;
            text-align: center;
        }
    }
}