<div class="content__product-inner active fl fl_jus_bet fl_wrap" id="contentNew">
    <article class="content__product-item fl fl_dir_col fl_jus_bet">
        <div class="content__product--top">
            <span class="content__product-percent fl fl_center">-50%</span>
            <img class="content__product-image" src="../assets/images/image1.png" alt="Product">
        </div>
        <div class="content__product--bottom fl fl_dir_col fl_jus_bet">
            <h3 class="content__product-title">უკაბელო დამტენი</h3>
            <div class="fl fl_jus_bet">
                <span class="content__product-price">
                    ფასი: 
                    <span class="content__product-price--old">500</span> /
                    <span class="content__product-price--new">250</span>
                    <span style="font-family:bpg_gel">i</span>
                </span>
                <span class="content__product-sales">
                    გაყიდული:
                    <span>43</span>
                </span>
            </div>
        </div>
    </article>
</div>