$colors: (
    // Background Colors
    bg-white: #FFFFFF,
    bg-black: #000000,
    bg-grey: #424244,
    bg-blue: #62B5E5,
    bg-red: #FF3D69,
    bg-green: #0FC574,
    bg-yellow: #FFE31E,

    // Text Colors
    text-white: #FFFFFF,
    text-black: #000000,
    text-grey: #424244,
    text-blue: #62B5E5,
    text-red: #FF3D69,
    text-green: #0FC574,
    text-yellow: #FFE31E
);