* {
  margin: 0;
  padding: 0;
  border: transparent;
  outline: transparent;
  box-sizing: border-box;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 10px;
  font-family: "bpg_web", Roboto, Helvetica, Arial, sans-serif; }

body {
  position: relative;
  padding-bottom: 70px;
  min-height: 100vh;
  background-color: #FFFFFF; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

textarea {
  resize: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

@font-face {
  font-family: "bpg_gel";
  src: url("../fonts/bpg_gel.ttf") format("truetype"); }

@font-face {
  font-family: "bpg_web";
  src: url("../fonts/bpg_web.ttf") format("truetype"); }

@font-face {
  font-family: "bpg_webcaps";
  src: url("../fonts/bpg_web_caps.ttf") format("truetype"); }

.wrapper {
  width: 100%;
  max-width: calc(1200px + 10em);
  height: auto;
  padding: 0 5em;
  margin: 0 auto; }

.fl {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; }
  .fl_jus_bet {
    justify-content: space-between; }
  .fl_jus_cen {
    justify-content: center; }
  .fl_jus_end {
    justify-content: flex-end; }
  .fl_dir_col {
    flex-direction: column; }
  .fl_ali_cen {
    align-items: center; }
  .fl_ali_sta {
    align-items: flex-start; }
  .fl_ali_end {
    align-items: flex-end; }
  .fl_center {
    align-items: center;
    justify-content: center; }
  .fl_wrap {
    flex-wrap: wrap; }

.header {
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 0 12px 44px 0 rgba(170, 170, 170, 0.1);
  -webkit-box-shadow: 0 12px 44px 0 rgba(170, 170, 170, 0.1);
  -moz-box-shadow: 0 12px 44px 0 rgba(170, 170, 170, 0.1); }
  .header__logo {
    cursor: context-menu;
    color: rgba(98, 181, 229, 0.9);
    font-size: 2.2rem;
    font-family: 'bpg_webcaps'; }
  .header__button {
    cursor: pointer;
    font-size: 1.4rem;
    font-family: 'bpg_webcaps';
    line-height: 1.6rem;
    padding: 1.2em 2.8em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
    .header__button--reg {
      color: white;
      margin: 0 2em 0 0;
      border: 1px solid transparent;
      background-color: #62b5e5;
      transition: 0.35s; }
      .header__button--reg:hover {
        color: #62b5e5;
        border: 1px solid rgba(98, 181, 229, 0.2);
        background-color: rgba(98, 181, 229, 0.2); }
    .header__button--auth {
      color: #424244;
      border: 1px solid #424244;
      transition: 0.35s; }
      .header__button--auth:hover {
        color: #62b5e5;
        border: 1px solid #62b5e5; }

.content {
  width: 100%;
  height: auto;
  padding: 5em 0;
  background-color: rgba(66, 66, 68, 0.02); }

.content__sidebar {
  display: none;
  width: 280px;
  height: 100%;
  max-height: 600px;
  padding: 2em 3em;
  background-color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 20px 40px 0 rgba(169, 162, 162, 0.1);
  -webkit-box-shadow: 0 20px 40px 0 rgba(169, 162, 162, 0.1);
  -moz-box-shadow: 0 20px 40px 0 rgba(169, 162, 162, 0.1); }
  .content__sidebar-title {
    color: rgba(66, 66, 68, 0.8);
    font-size: 1.6em;
    margin-bottom: 1.5em; }

.content__product {
  width: 100%;
  height: auto; }
  .content__product-inner {
    display: none;
    width: 100%;
    height: auto;
    padding: 2.5em 0; }
    .content__product-inner.active {
      display: flex; }
  .content__product-add {
    cursor: pointer;
    position: absolute;
    top: -3px;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: rgba(98, 181, 229, 0.2);
    background-image: url("../images/plus.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; }
  .content__product-close {
    display: none;
    cursor: pointer;
    position: absolute;
    top: -3px;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: rgba(98, 181, 229, 0.2);
    background-image: url("../images/minus.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; }
  .content__product-item {
    overflow: hidden;
    width: 260px;
    height: 320px;
    margin-bottom: 3em;
    border: 1px solid transparent;
    background-color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 20px 40px 0 rgba(169, 162, 162, 0.1);
    -webkit-box-shadow: 0 20px 40px 0 rgba(169, 162, 162, 0.1);
    -moz-box-shadow: 0 20px 40px 0 rgba(169, 162, 162, 0.1);
    transition: 0.35s; }
    .content__product-item:hover {
      box-shadow: none;
      border: 1px solid rgba(66, 66, 68, 0.05);
      box-shadow: 0 20px 40px 0 rgba(169, 162, 162, 0.5);
      -webkit-box-shadow: 0 20px 40px 0 rgba(169, 162, 162, 0.5);
      -moz-box-shadow: 0 20px 40px 0 rgba(169, 162, 162, 0.5); }
  .content__product--top {
    position: relative; }
  .content__product-image {
    width: 100%;
    height: 100%;
    max-height: 230px; }
  .content__product-percent {
    cursor: context-menu;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-flex;
    color: rgba(66, 66, 68, 0.8);
    font-size: 1.2rem;
    font-family: 'bpg_webcaps';
    width: 35px;
    height: 35px;
    background-color: rgba(15, 197, 116, 0.8);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; }
  .content__product--bottom {
    cursor: context-menu;
    padding: 1em 1.2em; }
  .content__product-title {
    color: rgba(66, 66, 68, 0.8);
    font-size: 1.4rem;
    font-family: 'bpg_webcaps';
    margin-bottom: 1em; }
    .content__product-title:hover {
      color: rgba(98, 181, 229, 0.8); }
  .content__product-price, .content__product-sales {
    color: rgba(66, 66, 68, 0.8);
    font-size: 1.1rem;
    font-family: 'bpg_webcaps'; }
  .content__product-price--old {
    color: rgba(255, 61, 105, 0.8);
    text-decoration: line-through;
    text-decoration-color: #424244; }

.switch {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(0, 36, 100, 0.08); }
  .switch__tab {
    cursor: pointer;
    position: relative;
    color: rgba(66, 66, 68, 0.8);
    font-size: 1.4rem;
    font-family: 'bpg_webcaps';
    line-height: 2.1rem;
    padding: 0 0.8em 0.5em 0.8em;
    margin-right: 1em;
    transition: 0.35s;
    border-bottom: 2px solid transparent; }
    .switch__tab:hover {
      color: #62b5e5;
      border-bottom: 2px solid #62b5e5; }
    .switch__tab.active {
      color: #62b5e5;
      border-bottom: 2px solid #62b5e5; }

.form--product {
  width: 100%;
  height: 100%; }
  .form--product .form__input {
    font-size: 1.4em;
    margin-bottom: 1em;
    padding: 0.6em 0.8em; }
  .form--product .form__input-heading {
    font-size: 1.2em; }
  .form--product .form__button {
    font-size: 1.4rem;
    padding: 0.8em 2em; }

.form__input {
  position: relative;
  color: #424244;
  font-size: 1.6rem;
  font-family: 'bpg_webcaps';
  line-height: 1.9rem;
  width: 100%;
  padding: 0.8em 1.2em;
  margin-bottom: 2em;
  border: 1px solid rgba(0, 36, 100, 0.08);
  background-color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  transition: 0.35s; }
  .form__input:focus {
    border: 1px solid rgba(98, 181, 229, 0.8); }
  .form__input.wrong {
    position: relative;
    border: 1px solid rgba(255, 61, 105, 0.6); }
  .form__input-heading {
    color: rgba(66, 66, 68, 0.5);
    font-size: 1.4rem;
    font-family: 'bpg_web';
    line-height: 1.6rem; }

.form__line-inner {
  width: calc(50% - 1.5em);
  padding: 0 1em; }

.form__button {
  cursor: pointer;
  color: white;
  font-size: 1.6rem;
  font-family: 'bpg_webcaps';
  line-height: 1.9rem;
  padding: 1em 3em;
  border: 1px solid transparent;
  background-color: #62b5e5;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  transition: 0.35s; }
  .form__button:hover {
    color: #62b5e5;
    border: 1px solid rgba(98, 181, 229, 0.3);
    background-color: rgba(98, 181, 229, 0.3); }

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background-color: rgba(66, 66, 68, 0.4); }
  .popup__form {
    position: relative;
    width: 100%;
    max-width: 60%;
    height: auto;
    padding: 2em 3em;
    background-color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px; }
    .popup__form--login {
      max-width: 40% !important; }
    .popup__form-heading {
      color: #424244;
      font-size: 2.2rem;
      font-family: 'bpg_webcaps';
      margin-bottom: 2em; }
    .popup__form-close {
      cursor: pointer;
      position: absolute;
      top: 2em;
      right: 2em;
      width: 19px;
      height: 19px;
      background: url("../images/form_close.png") no-repeat; }
    .popup__form-content {
      display: none;
      width: 100%;
      height: auto;
      margin-top: 3em; }
      .popup__form-content.active {
        display: block; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-top: 1px solid rgba(66, 66, 68, 0.2);
  background-color: #FCFCFC; }
  .footer__copyright {
    cursor: context-menu;
    color: #424244;
    font-size: 1.2rem;
    font-family: 'bpg_web';
    line-height: 1.6rem; }
  .footer__list-item {
    cursor: pointer;
    color: #424244;
    font-size: 1.2rem;
    font-family: 'bpg_webcaps';
    line-height: 1.6rem;
    margin: 0 2em 0 0;
    transition: 0.35s; }
    .footer__list-item:hover {
      color: #62b5e5; }
