<footer class="footer fl fl_ali_cen">
    <div class="wrapper fl fl_jus_bet">
        <span class="footer__copyright">® ყველა უფლება დაცულია</span>
        <ul class="fooer__list fl">
            <li class="footer__list-item">მთავარი</li>
            <li class="footer__list-item">კონტაქტი</li>
            <li class="footer__list-item">ჩვენს შესახებ</li>
        </ul>
    </div>
</footer>